<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Radio API</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="navbar bg-base-100">
        <a class="btn btn-ghost text-xl">Radio API</a>
    </div>
    
    <div class="overflow-x-auto">
        <table class="table w-full max-w-xs ">
          <!-- head -->
          <thead>
            <tr>
              <th>Nome</th>
              <th>Tag</th>
              <th>País</th>
            </tr>
          </thead>
          <tbody>
            
            <% pagina[currentPage-1].forEach( item => { %>
              <tr class="hover">
                <td class="whitespace-normal"><%= item.name %></td>
                <td class="whitespace-break-spaces"><%= item.tags %></td>
                <td><%= item.country %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="join"id="pagination">
          <button class="join-item btn btn-square"><%= currentPage %></button>
          <button class="join-item btn btn-square"><%= currentPage + 1 %></button>
          <button class="join-item btn btn-square"><%= currentPage + 2 %></button>
          <button class="join-item btn btn-square btn-disabled">...</button>
          <button class="join-item btn btn-square"><%= numberOfPages - 2%></button>
          <button class="join-item btn btn-square"><%= numberOfPages - 1%></button>
          <button class="join-item btn btn-square"><%= numberOfPages%></button>
        </div>

        <script>
          const button = document.getElementById("pagination")
          button.addEventListener('click', (event) =>{
            
            if(event.target.tagName === 'BUTTON' && event.target.textContent != '...'){
              let clickedPg = parseInt(event.target.textContent)
              console.log(clickedPg)
              
            }
          })
        </script>
        
      </div>

</body>
</html>